<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536067959514-9f0c2vvmbroa499k25dq9a11e9hptdnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536067959514-9f0c2vvmbroa499k25dq9a11e9hptdnl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>536067959514-6bj8jm4mco1qkntne0hs1c2o6onb6lqr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbVzfGC_C2t4nuZqCfgk4d5XTTMgSsTTs</string>
	<key>GCM_SENDER_ID</key>
	<string>536067959514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ukrzoloto.development</string>
	<key>PROJECT_ID</key>
	<string>ukrzoloto</string>
	<key>STORAGE_BUCKET</key>
	<string>ukrzoloto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536067959514:ios:e15f68af353b0e48f953e3</string>
	<key>DATABASE_URL</key>
	<string>https://ukrzoloto.firebaseio.com</string>
</dict>
</plist>